@charset "utf-8";
.main #container{overflow:hidden;}
.bgTxt > span{position:absolute;left:50%;display:block;font-size:500px;font-family:'Nixgon L';font-weight:normal;color:#fff;z-index:5;line-height:1;mix-blend-mode:overlay;opacity:0.6;}
.bgTxt .t1{top:733px;margin-left:540px;}  /* D */
.bgTxt .t2{top:1523px;margin-left:-851px;}/* O */
.bgTxt .t3{top:2032px;margin-left:660px;} /* C */
.bgTxt .t4{top:3330px;margin-left:-962px;}/* T */
.bgTxt .t5{top:3970px;margin-left:747px;} /* O */
.bgTxt .t6{top:5730px;margin-left:-923px;}/* R */
.bgTxt .t7{top:6905px;margin-left:677px;} /* S */

.splitText span{display:inline-block;-webkit-transition:2s;transition:2s;vertical-align:middle;opacity:0;}
.splitText.on span{-webkit-transform:translate3d(0px,0px,0px) scale(1) !important;transform:translate3d(0px,0px,0px) scale(1) !important;opacity:1;}

.mainSec{position:relative;}
.mainSec.sec1{background:url(../images/main/bg_main_01.png) no-repeat center center;background-size:cover;color:#fff;text-align:center;}
.mainSec.sec1 .innerBox{height:1000px;padding-top:81px;}
.mainSec.sec1 .tit{position:relative;margin-top:45px;height:224px;text-align:left;font-size:0;white-space:nowrap;text-align:center;}
.mainSec.sec1 .tit > div + div{margin-top:-112px;-webkit-transition:margin 1.5s;transition:margin 1.5s;}
.mainSec.sec1 .tit.on > div + div{margin-top:0;}
.mainSec.sec1 .tit span{display:inline-block;}
.mainSec.sec1 .tit .first{position:relative;width:100%;text-align:center;-webkit-transition:width 1.5s 1.5s;transition:width 1.5s 1.5s;}
.mainSec.sec1 .tit.on .first{width:205px;}
.mainSec.sec1 .tit .second{opacity:0;transition:1.5s;}
.mainSec.sec1 .tit .second.on{opacity:1;}
.mainSec.sec1 .tit span span{display:inline-block;font-size:80px;padding:0 0.25em;vertical-align:top;}
.mainSec.sec1 .text1{margin-top:375px;font-size:60px;letter-spacing:0.4em;text-indent:0.4em;}
.mainSec.sec1 .text2{margin-top:58px;font-size:14px;text-align:right;}
.mainSec.sec2{height:720px;padding:160px 0;background:url(../images/main/bg_main_02.png) no-repeat center center;background-size:cover;color:#fff;}
.mainSec .triangleWrap{float:left;position:relative;width:400px;height:402px;margin-left:83px;}
.mainSec .triangleWrap .triangle{position:absolute;left:66px;top:85px;width:228px;height:200px;background:url(../images/main/triangle.png) no-repeat;-webkit-animation:triSpin3 60s infinite;animation:triSpin3 60s infinite;}
.mainSec .triangleWrap .triangle ~ div{position:absolute;top:0;left:0;width:100%;height:100%;}
.mainSec .triangleWrap .bg1{background:url(../images/main/triangle_bg1.png) no-repeat;-webkit-animation:triSpin 80s infinite;animation:triSpin 80s infinite;}
.mainSec .triangleWrap .bg1 i{display:block;position:absolute;width:19px;height:19px;border:1px solid #fff;border-radius:50%;left:49px;top:125px;-webkit-animation:circleWave 1.5s ease infinite;animation:circleWave 1.5s ease infinite;}
.mainSec .triangleWrap .bg1 i + i{left:264px;top:171px;-webkit-animation-duration:2s;animation-duration:2s;}
.mainSec .triangleWrap .bg1 i + i + i{left:188px;top:360px;-webkit-animation-duration:1.75s;animation-duration:1.75s;}
.mainSec .triangleWrap .bg2{background:url(../images/main/triangle_bg2.png) no-repeat;-webkit-animation:triSpin2 90s infinite;animation:triSpin2 90s infinite;}
@-webkit-keyframes triSpin{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50%{-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}
	100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
} 
@keyframes triSpin{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50%{-webkit-transform:rotate(-180deg);transform:rotate(-180deg);}
	100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-webkit-keyframes triSpin2{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50%{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
	100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}  
@keyframes triSpin2{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50%{-webkit-transform:rotate(270deg);transform:rotate(270deg);}
	100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-webkit-keyframes triSpin3{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	25%{-webkit-transform:rotate(10deg);transform:rotate(10deg);}
	50%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	75%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}  
@keyframes triSpin3{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	25%{-webkit-transform:rotate(10deg);transform:rotate(10deg);}
	50%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	75%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-webkit-keyframes circleWave{
	0%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}
@keyframes circleWave{
	0%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}
.mainSec .triangleWrap .scrollLink a{display:block;position:absolute;left:50%;top:50%;color:#fff;font-size:14px;opacity:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transition:1s;transition:1s;}
.mainSec .triangleWrap .scrollLink .link3{text-align:center;}
.mainSec .triangleWrap .scrollLink.on a{opacity:1;-webkit-transform:translate(0,0);transform:translate(0,0);}
.mainSec .triangleWrap .scrollLink.on .link1{left:-83px;top:60px;-webkit-animation:balloon1 10s ease-in-out infinite;animation:balloon1 10s ease-in-out infinite;}
.mainSec .triangleWrap .scrollLink.on .link2{left:420px;top:55px;-webkit-animation:balloon2 10s ease-in-out infinite;animation:balloon2 10s ease-in-out infinite;}
.mainSec .triangleWrap .scrollLink.on .link3{left:170px;top:460px;-webkit-animation:balloon3 10s ease-in-out infinite;animation:balloon3 10s ease-in-out infinite;}
@-webkit-keyframes balloon1 {
	0%,100%{-webkit-transform:translateY(0) rotate(-4deg);transform:translateY(0) rotate(-4deg);}
	50%{-webkit-transform:translateY(-10px) rotate(6deg);transform:translateY(-10px) rotate(6deg);}
}
@keyframes balloon1 {
	0%,100%{-webkit-transform:translateY(0) rotate(-4deg);transform:translateY(0) rotate(-4deg);}
	50%{-webkit-transform:translateY(-10px) rotate(6deg);transform:translateY(-10px) rotate(6deg);}
}
@-webkit-keyframes balloon2 {
	0%,100%{-webkit-transform:translateY(0) rotate(4deg);transform:translateY(0) rotate(4deg);}
	50%{-webkit-transform:translateY(-15px) rotate(-6deg);transform:translateY(-15px) rotate(-6deg);}
}
@keyframes balloon2 {
  	0%,100%{-webkit-transform:translateY(0) rotate(4deg);transform:translateY(0) rotate(4deg);}
  	50%{-webkit-transform:translateY(-15px) rotate(-6deg);transform:translateY(-15px) rotate(-6deg);}
}
@-webkit-keyframes balloon3 {
	0%,100%{-webkit-transform:translate(0, -5px) rotate(4eg);transform:translate(0, -5px) rotate(4eg);}
	 50%{-webkit-transform:translate(-10px, 15px) rotate(-6deg);transform:translate(-10px, 15px) rotate(-6deg);}
}
@keyframes balloon3 {
	0%,100%{-webkit-transform:translate(0, -5px) rotate(4eg);transform:translate(0, -5px) rotate(4eg);}
	 50%{-webkit-transform:translate(-10px, 15px) rotate(-6deg);transform:translate(-10px, 15px) rotate(-6deg);}
}
.mainSec.sec2 .textWrap{margin-left:655px;font-size:20px;}
.mainSec.sec2 .text01{margin-bottom:15px;}
.mainSec.sec2 .text01.typedEffect{height:170px;margin-bottom:42px;}
.mainSec.sec2 .text01,
.mainSec.sec2 .text01 .view{font-size:40px;letter-spacing:-2px;}
.mainSec.sec3{background:#fafafb;text-align:center;}
.mainSec.sec3 .innerBox{height:915px;padding-top:55px;}
.mainSec .numTit{overflow:hidden;text-align:center;height:105px;}
.mainSec .numTit strong{display:block;font-size:120px;}
.mainSec.sec3 .text01{opacity:0.7;font-size:20px;letter-spacing:6px;margin-top:57px;}
.mainSec.sec3 .text02{font-size:48px;}
.mainSec.sec3 .text03{font-size:30px;margin-top:39px;}
.mainSec.sec3 .text04{font-size:16px;opacity:0.5;margin-top:25px;}
.mainSec.sec3 .doctorsImg{position:absolute;bottom:0;left:0;width:100%;height:300px;}
.mainSec.sec4{overflow:visible;}
.mainSec.sec4 .bg{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;}
.mainSec.sec4 .bg:before,
.mainSec.sec4 .bg:after{content:'';display:block;position:absolute;top:0;width:50%;height:100%;box-sizing:content-box;}
.mainSec.sec4 .bg:before{left:0;background:#282f57;}
.mainSec.sec4 .bg:after{right:0;padding-left:303px;background:#384489;}
.mainSec.sec4 .btn_up{position:absolute;top:-33px;left:50%;width:97px;margin-left:-49px;padding-top:7px;background:url(../images/main/btn_up_bg.png) no-repeat center top;z-index:1;}
.mainSec.sec4 .btn_up a{position:relative;;display:block;width:54px;height:80px;margin:0 auto;background:#303b80;border-radius:27px;font-size:0;color:transparent;}
.mainSec.sec4 .btn_up a:before{content:'';display:block;position:absolute;top:2px;left:2px;width:50px;height:50px;border-radius:50%;background:#38448a url(../images/main/btn_up_arr.png) no-repeat center center;-webkit-transition:1s;transition:1s;}
.mainSec.sec4 .btn_up.on a:before{top:26px;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.mainSec .doctorInfo:after{content:'';display:block;clear:both;}
.mainSec .doctorInfo > .img{float:left;width:690px;}
.mainSec .doctorInfo > .text{float:right;width:505px;color:#fff;padding-top:78px;}
.mainSec .doctorInfo .text01{font-size:12px;opacity:0.25;text-transform:uppercase;letter-spacing:16px;}
.mainSec .doctorInfo .text02{font-size:48px;margin-top:20px;}
.mainSec .doctorInfo .list{font-size:0;padding:30px 0;margin-top:47px;border:1px solid rgba(255,255,255,0.2);border-width:1px 0;}
.mainSec .doctorInfo .list > li{position:relative;display:inline-block;width:50%;font-size:14px;margin:4px 0;vertical-align:top;padding-left:14px;font-weight:200;}
.mainSec .doctorInfo .list > li:before{content:'';position:absolute;left:0;top:9px;width:2px;height:2px;background:#fff;}
.mainSec .doctorInfo .comment{font-size:30px;text-align:center;margin-top:32px;}
.mainSec .doctorInfo .comment .txt{letter-spacing:-1px;}
.mainSec .doctorInfo .comment .txt .view{height:171px;}
.mainSec .doctorInfo .comma{font-weight:450;}
.mainSec .doctorInfo .comma:first-child{margin-bottom:11px;}
.mainSec .doctorInfo .comma:last-child{margin-top:24px;}
.mainSec .infoImg{position:relative;text-align:center;top:-100px;font-size:0;clear:both;z-index:2;}
.mainSec .infoImg li{position:relative;display:inline-block;margin-right:5px;margin-bottom:5px;vertical-align:top;font-size:14px;}
.mainSec .infoImg li:hover{box-shadow:0px 10px 20px rgba(0,0,0,0.5)}
.mainSec .infoImg li:nth-child(4n){margin-right:0;}
.mainSec .infoImg li .img{background:#fff;overflow:hidden;}
.mainSec .infoImg li .img img{-webkit-transition:2s;transition:2s;}
.mainSec .infoImg li:hover .img img{-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-transition:10s;transition:10s;}
.mainSec .infoImg li .img:after{content:'';display:block;position:absolute;top:0;right:0;bottom:0;left:0;background:#000;opacity:0.5;-webkit-transition:1s;transition:1s;}
.mainSec .infoImg li:hover .img:after{background-color:#ff4c87;background-image:linear-gradient(to bottom, #ff4c87, #ffc24c);}
.mainSec .infoImg li .txt{position:absolute;left:0;top:0;right:0;bottom:0;border:8px solid #fff;opacity:0;-webkit-transition:1s;transition:1s;}
.mainSec .infoImg li .txt div{position:absolute;left:0;top:50%;width:100%;text-align:center;color:#fff;-webkit-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:1s;transition:1s;}
.mainSec .infoImg li:hover .txt{opacity:1;}
.mainSec .infoImg li:hover .txt div{-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.mainSec.sec5{background-color:#efefef;background-image:linear-gradient(to bottom, #efefef, #fdfdfd);}
.mainSec.sec5 .bg{position:absolute;right:0;left:50%;top:0;height:100%;margin-left:3px;background:#d4c6be url(../images/main/bg_main_05.png) no-repeat 484px 44px;z-index:1;}
.mainSec .model{position:relative;left:-165px;width:990px;height:1000px;padding-top:97px;overflow:hidden;}
/* .mainSec .model:before,
.mainSec .model:after{content:'';display:block;position:absolute;top:0;width:172px;height:100%;border:1px solid rgba(255,255,255,0.4);border-width:0 1px;background:rgba(0,0,255,0.2);mix-blend-mode:overlay;} */
.mainSec .model:before{left:-174px;}
.mainSec .model:after{right:-174px;}
.mainSec .model.on:before{-webkit-animation:modelScan 3s infinite;animation:modelScan 3s infinite;}
.mainSec .model.on:after{-webkit-animation:modelScan2 3s infinite;animation:modelScan2 3s infinite;}
@-webkit-keyframes modelScan{
	0%,100%{left:-300px;}
	55%{left:46%;}
}
@keyframes modelScan{
	0%,100%{left:-300px;}
	55%{left:46%;}
}
@-webkit-keyframes modelScan2{
	0%,100%{right:-300px;}
	55%{right:46%;}
}
@keyframes modelScan2{
	0%,100%{right:-300px;}
	55%{right:46%;}
}  
.mainSec .info{position:absolute;right:0;top:0;width:597px;color:#fff;z-index:3;}
.mainSec .info .text{color:#fff;padding-left:118px;padding-top:55px;}
.mainSec.sec5 .numTit{text-align:left;}
.mainSec.sec5 .text01{font-size:42px;letter-spacing:-2px;margin-top:20px;white-space:nowrap;}
.mainSec.sec5 .text02{font-size:30px;margin-top:14px;}
.mainSec.sec5 .text03{opacity:0.7;font-size:16px;margin-top:15px;}
.mainSec.sec5 .chart{position:relative;width:680px;height:340px;padding:40px 0;margin-top:80px;box-sizing:content-box;}
.mainSec.sec5 .chart .labels div{position:absolute;font-size:14px;font-weight:200;color:#000;text-align:center;left:50%;}
.mainSec.sec5 .chart .labels .t1{top:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.mainSec.sec5 .chart .labels .t2{top:60px;margin-left:134px;color:#fff;text-align:left;opacity:0.5;}
.mainSec.sec5 .chart .labels .t3{top:198px;margin-left:181px;color:#fff;text-align:left;opacity:0.5;}
.mainSec.sec5 .chart .labels .t4{top:344px;margin-left:140px;color:#fff;text-align:left;opacity:0.5;}
.mainSec.sec5 .chart .labels .t5{bottom:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.mainSec.sec5 .chart .labels .t6{top:344px;margin-left:-166px;}
.mainSec.sec5 .chart .labels .t7{top:198px;margin-left:-232px;}
.mainSec.sec5 .chart .labels .t8{top:60px;margin-left:-166px;}
.mainSec.sec6{height:1160px;padding:100px 0 0;background:url(../images/main/bg_main_06.png) no-repeat center center;background-size:cover;}
.mainSec.sec6 .textBox{position:relative;background:#fff;height:460px;overflow:hidden;text-align:center;}
.mainSec.sec6 .textBox .bg1,
.mainSec.sec6 .textBox .bg2{display:block;position:absolute;}
.mainSec.sec6 .textBox .bg1{left:0;top:0;width:320px;height:310px;background:url(../images/main/bg_main_06_01.png) no-repeat;}
.mainSec.sec6 .textBox .bg2{right:0;bottom:0;width:280px;height:260px;background:url(../images/main/bg_main_06_02.png) no-repeat;}
.mainSec.sec6 .textBox .cont{position:relative;padding-top:37px;}
.mainSec.sec6 .numTit{color:#dc4565;}
.mainSec.sec6 .text01{font-size:60px;margin-top:15px;}
.mainSec.sec6 .text02{font-size:30px;color:#c43755;margin-top:6px;}
.mainSec.sec6 .text03{font-size:16px;opacity:0.5;margin-top:23px;}
.mainSec .iconList{font-size:0;margin:20px -43px 0;text-align:center;}
.mainSec .iconList > li{display:inline-block;width:160px;font-size:14px;margin:60px 43px 0;color:#fff;text-align:center;}
.mainSec .iconList i{content:'';display:block;height:160px;margin-bottom:18px;}
.mainSec .iconList .ic1{background:url(../images/main/icon_img01.png) no-repeat;}
.mainSec .iconList .ic2{background:url(../images/main/icon_img02.png) no-repeat;}
.mainSec .iconList .ic3{background:url(../images/main/icon_img03.png) no-repeat;}
.mainSec .iconList .ic4{background:url(../images/main/icon_img04.png) no-repeat;}
.mainSec .iconList .ic5{background:url(../images/main/icon_img05.png) no-repeat;}
.mainSec .iconList .ic6{background:url(../images/main/icon_img06.png) no-repeat;}
.mainSec .iconList .ic7{background:url(../images/main/icon_img07.png) no-repeat;}
.mainSec .iconList .ic8{background:url(../images/main/icon_img08.png) no-repeat;}
.mainSec .iconList .ic9{background:url(../images/main/icon_img09.png) no-repeat;}
.mainSec .iconList .ic10{background:url(../images/main/icon_img10.png) no-repeat;}
.mainSec .secTit{font-size:60px;text-align:center;}
/*.mainSec.sec7{background:#f9f9f9;padding-top:100px;}
.mainSec.sec7 > .bg{display:block;position:absolute;left:50%;z-index:1;}
.mainSec.sec7 > .bg1{top:0;margin-left:-722px;width:104px;height:52px;background:url(../images/main/sec7_bg1.png);}
.mainSec.sec7 > .bg2{top:-75px;margin-left:610px;width:84px;height:167px;background:url(../images/main/sec7_bg2.png);}
.mainSec.sec7 > .bg3{top:543px;margin-left:-768px;width:57px;height:57px;background:url(../images/main/sec7_bg3.png);-webkit-animation:balloon3 10s ease-in-out infinite;animation:balloon3 10s ease-in-out infinite;}
.mainSec.sec7 > .bg4{top:562px;margin-left:565px;width:39px;height:39px;background:url(../images/main/sec7_bg4.png);-webkit-animation:balloon1 10s ease-in-out infinite;animation:balloon1 10s ease-in-out infinite;}
.mainSec.sec7 > .innerBox{padding-bottom:100px;}
.mainSec.sec7 .text01{font-size:50px;padding-top:16px;}
.mainSec.sec7 .textList{font-size:18px;padding-left:7px;margin-top:56px;}
.mainSec.sec7 .textList:before{content:'';display:block;width:44px;height:13px;margin-bottom:25px;background:url(../images/main/sec7_bg.png) no-repeat;}
.mainSec.sec7 .textList li{padding:10px 0;}
.mainSec.sec7 .textList strong{display:inline-block;color:#cd0800;letter-spacing:0.3em;width:250px;}
.mainSec.sec7 .figure{position:absolute;right:37px;top:0;width:424px;height:360px;background:url(../images/main/figure.png) no-repeat;font-size:0;color:transparent;}*/
.mainSec.sec7{background:#f8f8f8;padding:80px 0 100px;text-align:center;}
.mainSec .secTit{font-size:60px;text-align:center;}
.mainSec.sec7 .secTit{color:#cb294b;}
.mainSec.sec7 .line{position:relative;height:33px;margin:30px 0 10px;}
.mainSec.sec7 .line:before{content:'';display:block;position:absolute;bottom:0;left:50%;width:1px;height:0;background:#000;-webkit-transition:height 1.5s ease;transition:height 1.5s ease;}
.mainSec.sec7 .line.on:before{height:100%;}
.mainSec.sec7 .text01{font-size:38px;}
.mainPopList{color:#fff;}
.mainPopList .text{padding:40px 0;font-size:14px;letter-spacing:0.5em;text-align:center;text-transform:uppercase;}
.mainPopList .btn{position:relative;display:inline-block;background:#eee;width:38px;height:272px;border-radius:19px;vertical-align:bottom;}
.mainPopList .btn span{position:absolute;top:2px;left:2px;display:block;width:34px;height:70px;font-size:0;color:transparent;background:#e7dce0;border-radius:17px;-webkit-transition:1s;transition:1s;}
.mainPopList .on .btn span{top:200px;}
.mainPopList .btn span:before{content:'';display:block;width:10px;height:10px;position:absolute;left:50%;top:50%;margin:-5px 0 0 -5px;background:url(../images/main/ic_mainPop.png) no-repeat;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:1s;transition:1s;}
.mainPopList .on .btn span:before{-webkit-transform:rotate(315deg);transform:rotate(315deg);}
.mainPopList .mainPopWrap{position:absolute;bottom:14px;}
.mainPopList .mainPop{display:none;padding:34px 0 50px;background:#fff;border:1px solid #eee;border-radius:10px;text-align:center;color:#000;vertical-align:bottom;}
.mainPopList .on .mainPop{display:inline-block;-webkit-animation:fadeInUp 1s;animation:fadeInUp 1s;}
.mainPopList .mainPop ul{font-size:0;}
.mainPopList .mainPop li{display:inline-block;}
.mainPopList .mainPop .tit{font-size:16px;margin-bottom:12px;}
.mainPopList .bg1{background:#e7dce0;}
.mainPopList .bg1 .mainPopWrap{left:140px;}
.mainPopList .bg1 .btn{background:#e4c8ce;height:72px;}
.mainPopList .bg1 .btn span{height:36px;}
.mainPopList .bg1 .on .btn span{top:34px;}
.mainPopList .bg2{background:#e3ced5;}
.mainPopList .bg2 .mainPopWrap{right:140px;}
.mainPopList .bg2 .btn{background:#d9c0c9;height:72px;}
.mainPopList .bg2 .btn span{height:36px;}
.mainPopList .bg2 .on .btn span{top:34px;}
.mainPopList .bg3{background:#e7c3ca;}
.mainPopList .bg3 .mainPopWrap{left:70px;}
.mainPopList .bg3 .btn{background:#e3c0c7;}
.mainPopList .bg3 .mainPopWrap + .mainPopWrap{left:auto;right:70px;}
.mainPopList .bg3 .mainPopWrap + .mainPopWrap .btn{background:#dcbcc2;height:172px;}
.mainPopList .bg3 .mainPopWrap + .mainPopWrap.on .btn span{top:100px;}
.mainPopList .bg4{background:#ecb0bd;}
.mainPopList .bg4 .mainPopWrap{left:0;}
.mainPopList .bg4 .btn{background:#deaeb9;}
.mainPopList .bg5{background:#f28c9e;}
.mainPopList .bg5 .mainPopWrap{right:0;}
.mainPopList .bg5 .btn{background:#e0909e;height:172px;}
.mainPopList .bg5 .on .btn span{top:100px;}
.mainSec .productList{margin:37px -12px 0;}
.mainSec .productList:after{content:'';display:block;clear:both;}
.mainSec .productList li{position:relative;float:left;width:282px;margin:15px 12px;background:#fff;padding-bottom:30px;}
.mainSec .productList li:before,
.mainSec .productList li:after{content:'';display:block;position:absolute;border:0px solid #a52a44;width:0;height:0;box-sizing:border-box;-webkit-transition:0.5s;transition:0.5s;z-index:1;}
.mainSec .productList li:before{left:0;top:0;}
.mainSec .productList li:after{right:0;bottom:0;}
.mainSec .productList li:hover:before{border-width:1px 0 0 1px;width:100%;height:100%;}
.mainSec .productList li:hover:after{border-width:0 1px 1px 0;width:100%;height:100%;}
.mainSec .productList .tit{font-size:24px;margin-top:20px;}
.mainSec .productList .tit2{font-size:16px;margin-top:13px;margin-bottom:10px;}
.mainSec .productList .img + .tit2{margin-top:3px;}
.mainSec .productList .sub{display:table-cell;width:282px;height:38px;font-size:14px;opacity:0.4;vertical-align:middle;}
.mainSec .productList + .line{margin-top:45px;}
.mainSec .productList .btnView{position:relative;display:block;margin:20px auto 10px;width:30px;height:30px;font-size:0;color:transparent;border-radius:50px;border:1px solid #ededed;background:url(../images/main/ic_btnView.png) no-repeat center center;-webkit-transition:2s;transition:2s;z-index:2;}
.mainSec .productList .btnView:hover{-webkit-transform:rotate(720deg);transform:rotate(720deg);}
.mainSec.sec8{height:1000px;padding:84px 0;background:url(../images/main/bg_main_08.png) no-repeat center center;background-size:cover;}
.mainSec.sec8 .secTit{color:#fff;}
.mainSlider{position:relative;margin-top:53px;overflow:hidden;z-index:6;}
.mainSlider .box{display:block;position:relative;margin:0 60px;background:#fff;}
.mainSlider .box:after{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.3);opacity:1;-webkit-transition:0.5s;transition:0.5s;}
.mainSlider .img{background:#f1f1f1;overflow:hidden;}
.mainSlider .img img{opacity:0;-webkit-transition:2s;transition:2s;}
.mainSlider .box:hover .img img{-webkit-transform:scale(1.2);transform:scale(1.2);-webkit-transition:10s;transition:10s;}
.mainSlider.on .img img{opacity:1;}
.mainSlider .cont{position:relative;height:160px;padding:35px 40px;}
.mainSlider .cont:after{content:'';display:block;position:absolute;width:39px;height:39px;bottom:40px;right:40px;background:url(../images/main/mainSlider_arr.png) no-repeat;}
.mainSlider .tit{font-size:20px;}
.mainSlider .txt{font-size:14px;opacity:0.7;margin-top:15px;margin-right:40px;}
.mainSlider .slick-arrow{display:block;position:absolute;width:50%;height:500px;top:0;z-index:1;font-size:0;color:transparent;outline:0 none;}
.mainSlider .slick-arrow:before{content:'';display:block;position:absolute;width:60px;height:60px;top:240px;background:rgba(255,255,255,0.9) url(../images/main/mainSlider_arrow_prev.png) no-repeat center center;-webkit-transition:0.5s;transition:0.5s;}
.mainSlider .slick-arrow.slick-disabled{cursor:default;}
.mainSlider .slick-arrow.slick-disabled:before{background-color:rgba(0,0,0,0.9)}
.mainSlider .slick-prev{right:50%;margin-right:460px;}
.mainSlider .slick-prev:before{right:-150px;}
.mainSlider.on .slick-prev:before{animation:fadeInLeft 1s;}
.mainSlider .slick-prev.slick-disabled:before{background-image:url(../images/main/mainSlider_arrow_prev_on.png);}
.mainSlider .slick-next{left:50%;margin-left:460px;}
.mainSlider .slick-next:before{left:-150px;background-image:url(../images/main/mainSlider_arrow_next.png);}
.mainSlider.on .slick-next:before{animation:fadeInRight 1s;}
.mainSlider .slick-next.slick-disabled:before{background-image:url(../images/main/mainSlider_arrow_next_on.png);}
.mainSlider .slick-current .box:after{opacity:0;}
.mainSlider .slick-dots{margin-top:60px;}
.mainSlider.on .slick-dots{animation:fadeInUp 1s;}
.slick-dots{display:block;text-align:center;}
.slick-dots li{display:inline-block;margin:0 4px;vertical-align:top;}
.slick-dots li button{display:block;width:10px;height:10px;cursor:pointer;font-size:0;line-height:0;color:transparent;background:transparent;border:2px solid #fff;opacity:0.5;border-radius:50%;-webkit-transition:0.3s;transition:0.3s;}
.slick-dots li button:hover,
.slick-dots li button:focus{opacity:1;}
.slick-dots li.slick-active button{background:#fff;border-color:#fff;opacity:1;}
.mainSec.sec9{height:850px;padding:62px 0 78px;background:url(../images/main/bg_main_09.png) no-repeat center center;background-size:cover;}
.mainSec.sec9 .text01{font-size:30px;opacity:0.5;text-align:center;margin-top:6px;}
.mainSec.sec9 .tel-info{width:760px;margin:35px auto 0;border:2px solid #e1e1e1;border-radius:40px;}
.mainSec.sec9 .tel-info:after{content:'';display:block;clear:both;}
.mainSec.sec9 .tel-info > div{float:left;width:50%;line-height:76px;font-size:16px;padding-left:43px;}
.mainSec.sec9 .tel-info > div:before{content:'';display:inline-block;width:38px;height:38px;margin-right:34px;vertical-align:middle;background:url(../images/main/icon_phone.png) no-repeat;}
.mainSec.sec9 .tel-info > div:first-child{border-right:1px solid #e1e1e1;}
.mainSec.sec9 .tel-info > div + div{border-left:1px solid #e1e1e1;}
.mainSec.sec9 .tel-info > div + div:before{background-image:url(../images/main/icon_talk.png);}
.mainSec .hospitalInfo{margin:50px -10px 0;}
.mainSec .hospitalInfo:after{content:'';display:block;clear:both;}
.mainSec .hospitalInfo > div{float:left;width:50%;padding:0 10px;}
.mainSec .hospitalInfo > div:first-child .box{background:#ce3354;color:#fff;}
.mainSec .hospitalInfo .box{padding:50px 60px 60px;height:412px;background:#fff;}
.mainSec .boxTit{font-size:30px;}
.mainSlider2{position:relative;margin-top:25px;}
.mainSlider2 .slick-dots{position:absolute;right:0;top:-60px;}
.mainSec .consulting {margin-top:24px;}
.mainSec .consulting .inp input{width:100%;height:50px;padding:0 15px;line-height:48px;font-size:16px;border:1px solid #ebebeb;}
.mainSec .consulting .inp input::placeholder{color:#cfcfcf;}
.mainSec .consulting .inp + .inp{margin-top:2px;}
.mainSec .consulting .chk{font-weight:200;line-height:30px;margin-top:20px;letter-spacing:-1px;}
.mainSec .consulting .chk .check{position:relative;display:inline-block;}
.mainSec .consulting .chk .check input{position:absolute;width:20px;height:20px;left:0;top:0;opacity:0;margin:0;}
.mainSec .consulting .chk .check .lbl{position:relative;padding-left:25px;font-size:14px;}
.mainSec .consulting .chk .check .lbl:before{content:'';display:block;position:absolute;left:0;top:1px;width:19px;height:18px;background:url(../images/main/chk_off.png) no-repeat;}
.mainSec .consulting .chk .check input:checked + .lbl:before{background-image:url(../images/main/chk_on.png);}
.mainSec .consulting .chk > span{color: #a5a5a5;}
.mainSec .consulting .chk > span:before{content:'';display:inline-block;width:1px;height:13px;background:#e5e5e5;margin:0 10px 0 6px;}
.mainSec .consulting .chk > a{float:right;display:inline-block;line-height:28px;height:30px;border:1px solid #ebebeb;text-align:center;width:86px;font-weight:450;font-size:12px;}
.mainSec .consulting .btn{margin-top:30px;}
.mainSec .consulting .btn:after{content:'';display:block;clear:both;}
.mainSec .consulting .btn > a{float:left;display:inline-block;line-height:50px;height:50px;text-align:center;width:234px;font-weight:450;font-size:14px;background:#d7d7d7;color:#fff;}
.mainSec .consulting .btn > a + a{background:#f3ce00;margin-left:2px;}