<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
<title>테스트</title>
<link href="../static/css/reset.css" rel="stylesheet" />
<link href="../static/css/common.css" rel="stylesheet" />
<link href="../static/css/contents.css" rel="stylesheet" />
<script type="text/javascript" src="../static/js/common.js"></script>
<script type="text/javascript" src="../static/js/ui.js"></script>
<!--[if lt IE 9]>
    <script type="text/javascript">
        document.createElement("header"); 
        document.createElement("nav"); 
        document.createElement("section"); 
        document.createElement("article"); 
        document.createElement("footer");
    </script>
<![endif]-->
<style>
    #container {}
    #container [class*=section] { padding:100px 0; }
    #container [class*=section] ul {}
    #container [class*=section] li { padding:15px 0; margin:50px; border:1px dotted red; }
</style>
</head>
<body>
    <!-- 헤더영역 -->
    <header id="headerWrap">
        
    </header>
    <!-- //헤더영역 -->

    <!-- 컨텐츠 영역 -->
    <section id="container">
        <!-- 페럴렉스 스크롤 이벤트 추가 -->
        <div class="section01">
            <ul>
                <li data-animation="rollIn" data-delay="0.3">메뉴1-1</li>
                <li data-animation="bounceInUp">메뉴1-2</li>
                <li data-animation="fadeInLeft" data-delay="0.3">메뉴1-3</li>
                <li data-animation="fadeInRight">메뉴1-4</li>
                <li data-animation="zoomIn" data-delay="0.3">메뉴1-5</li>
            </ul>
        </div>
        <div class="section02">
            <ul>
                <li data-animation="zoomIn">메뉴2-1</li>
                <li data-animation="fadeInUp">메뉴2-2</li>
                <li data-animation="fadeInDown">메뉴2-3</li>
                <li data-animation="fadeInLeft">메뉴2-4</li>
                <li data-animation="fadeInRight">메뉴2-5</li>
            </ul>
        </div>
        <div class="section03">
            <ul>
                <li data-animation="zoomIn">메뉴2-1</li>
                <li data-animation="fadeInUp">메뉴2-2</li>
                <li data-animation="fadeInDown">메뉴2-3</li>
                <li data-animation="fadeInLeft">메뉴2-4</li>
                <li data-animation="fadeInRight">메뉴2-5</li>
            </ul>
        </div>
        <div class="section04">
            <ul>
                <li data-animation="zoomIn">메뉴2-1</li>
                <li data-animation="fadeInUp">메뉴2-2</li>
                <li data-animation="fadeInDown">메뉴2-3</li>
                <li data-animation="fadeInLeft">메뉴2-4</li>
                <li data-animation="fadeInRight">메뉴2-5</li>
            </ul>
        </div>
        <div class="section05">
            <ul>
                <li data-animation="zoomIn">메뉴2-1</li>
                <li data-animation="fadeInUp">메뉴2-2</li>
                <li data-animation="fadeInDown">메뉴2-3</li>
                <li data-animation="fadeInLeft">메뉴2-4</li>
                <li data-animation="fadeInRight">메뉴2-5</li>
            </ul>
        </div>

    </section>
    <!-- //컨텐츠 영역 -->

    <!-- 하단 영역 -->
    <footer id="footerWrap">
        
    </footer>
    <!-- //하단 영역 -->
</body>
</html>